@font-face { font-family: Now; font-weight: normal; src: url(now/Now-Regular.otf); }

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#777, #aaa);
  background-color: light-dark(#fff, #242943);
  font-family: Now, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

h1 {
	color: #4acaa8;
	font-size: 3rem;
	line-height: 3rem;
}

a {
	color: light-dark(#aaa, #fff);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.pagecentered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}